<!-- slider -->
    <div id="slider" class="carousel slide" data-ride="carousel">
	<div id="homeContainerShader">
      <!-- controls -->
      <ol class="carousel-indicators">
        <li data-target="#slider" data-slide-to="0" class="active"></li>
        <li data-target="#slider" data-slide-to="1"></li>
        <li data-target="#slider" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <!-- slides -->
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Start Broadcasting!</h1>
              <h4>Broadcast your Annoncements<br />for Free!</h4>
              	<p><a class="btn btn-lg btn-primary" href="/broadcast" role="button" name="bu_broadcast">Broadcast</a></p><br />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Listen to Live Streams!</h1>
              <h4>Enjoy Live Commentaries from<br />around the World!</h4>
              <p><a class="btn btn-lg btn-success" href="/twitch" role="button" name="bu_listen">Listen</a></p><br />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Learn to Use!</h1>
              <h4>Let's Get started!<br /></h4>
              <p><a class="btn btn-lg btn-warning" href="/info" role="button" name="bu_learn">Get Started</a></p><br />
            </div>
          </div>
        </div>
      </div>
     
      <a class="left carousel-control" href="#slider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#slider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
    </div>
