{% block content %}

<html>
<head>
<script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<body style="background-color:black">
	</br>
	</br>
	</br>
	</br>
	</br>
	<h1 style="color:white">TOP 10 CHANNELS----->BAR CHART</h1>	
	<script>
	var dataset = {{ top10 }}
	{% comment %}
	{% with dataset = top10 %}
		data is {{dataset}}
	{% endwith %}
	{% endcomment %}
	{# [10,20,30,40,50,60,70,80,90,100,110,120,130,140,150]#}
	w = 1000
	h = 500
	var barpadding = 1
	var svg = d3.select("body")				
			.append("svg")
			.attr("width",w)
			.attr("height",h)
                        .attr("fill", "pink")
	
	var bar = svg.selectAll("rect")
	  .data(dataset)
	  .enter()
		.append("rect")
		.attr("x",function(d,i)
					{return i*(w/dataset.length)})
		.attr("y",function(d)
						{return h-(d*4)})
		.attr("width", w/dataset.length-barpadding)
		.attr("height", function(d){return d*4})
		.attr("fill",function(d) {
			return "rgb(100,100, " + (d * 10) + ")";});
	
	var text = svg.selectAll("text")
				  .data(dataset)
				  .enter()
				  .append("text")
				  .text(function(d,i){return i})
				  .attr("x",function(d,i){return i*(w/dataset.length)})
				  .attr("y",function(d,i){return h-(d*4) + 14})			
	
		</script>
	<a class="Button" href="/hot/topChannels/">List</a>
{% endblock %}
{% include "base.html" %}
